<!DOCTYPE html>
<html>
  <head>
    <title>Projet BTS : Accueil</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="views/css/Style.css" />
    <link rel="stylesheet" href="views/css/Bootstrap.css" />
    <script type="text/javascript" src="views/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <style type="text/css">
      body{
        color: white
      }
      td{
        color: white;
      }

      .container{
        margin-top: 50px;
        align-content:"center";
      }
      .well{
        text-align: center;
        width: 500px;
        background: rgba(10,5,3,0.4);
        padding-top: 5px;
        padding-bottom: 10px;
        border: none;
        border-radius: 15px;
        box-shadow: 10px 10px 20px red;
      }
    </style>

  </head>
  
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand">Projet BTS-SIO</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <form method="post" class="form-inline my-2 my-lg-0" action="?c=user&t=index">
              <button  class="btn btn-outline-light my-2 my-sm-0" type="submit">Accueil</button>
            </form>
            </li>
          </ul>
          <span class="badge badge-danger mr-sm-2"><h6>connecté en tant que : {{user.username}} </h6></span>
          <form method="post" class="form-inline my-2 my-lg-0" action="?c=user&t=deconnected">
            <button  class="btn btn-outline-danger my-2 my-sm-0" type="submit">déconnexion</button>
          </form>
        </div>
      </nav>
    </header>
    
     <div class="container well">
        <ul style="list-style-type: none;">
          <li><h2 style="color:white;text-shadow: black 3px 3px;"><i>Page d'accueil</i></h2></li>
          <br />
          {% if user.role == 4 %}
            <h4>Vous avez {{ elevescount }} apprentis </h4>
            <hr color="white">
            <li><h4><a href="?c=user&t=TuteurPanel" style="color:white"> Liste des apprentis </a></h4></li>
            <br />
            {% if elevescount > 1 %}
              <li><h4><a href="?c=tache&t=listtuteur" style="color:white"> Taches des apprentis. </a></h4></li>
            {% elseif elevescount == 1 %}
              <li><h4><a href="?c=tache&t=listtuteur" style="color:white"> Taches de l'apprentis. </a></h4></li>
              <li><h4><a href="?c=tache&t=listveilletuteur" style="color:white"> Veille de l'apprentis. </a></h4></li>
            {% endif %}
          {% else %}
            <li><h4><a href="?c=tache&t=listuser" target="_self" style="color:white">Vos tâches effectué</a></h4></li>
            {% if user.role == 3 %}
              <li><h4><a href="?c=tache&t=list" target="_self" style="color:white">Liste des tâches global</a></h4></li>
            {% endif %}
            <li><h4><a href="?c=tache&t=new" target="_self" style="color:white">Nouvelle tache</a></h4></li>
            <br />
            {% if user.role == 2 or user.role == 3 %}
            <li><h4><a href="?c=tache&t=veilletechnologique" target="_self" style="color:white">Créer une veille technologique</a></h4></li> 
            <li><h4><a href="?c=tache&t=listveilletechnologique" target="_self" style="color:white">Liste des veilles technologique</a></h4></li>   
            {% endif %}
            <br />
            <li><h4><a href="?c=competence&t=list" target="_self" style="color:white">Liste des compétences</a></h4></li>
            {% if user.role == 3 %}
              <hr color="white">
              <li><h4><a href="?c=user&t=admin" style="color:white"> Panel administrateur </a></h4></li>
              <li><h4><a href="?c=competence&t=create" style="color:white"> Creation Competence </a></h4></li>
            {% endif %}
          {% endif %}
        </ul>
    </div>
    
  </body>
</html>