<!DOCTYPE html>
<html>
  <head>
    <title>Projet BTS : Création d'utilisateur</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="views/css/Style.css" />
    <link rel="stylesheet" href="views/css/Bootstrap.css" />
    <script type="text/javascript" src="views/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <style type="text/css">
      body{
        color: white
      }
      td{
        color: white;
      }
    </style>

  </head>
  
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand">Projet BTS-SIO</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <form method="post" class="form-inline my-2 my-lg-0" action="?c=user&t=index">
              <button  class="btn btn-outline-light my-2 my-sm-0" type="submit">Accueil</button>
            </form>
            </li>
          </ul>
          <span class="badge badge-danger mr-sm-2"><h6>connecté en tant que : {{user.username}} </h6></span>
          <form method="post" class="form-inline my-2 my-lg-0" action="?c=user&t=deconnected">
            <button  class="btn btn-outline-danger my-2 my-sm-0" type="submit">déconnexion</button>
          </form>
        </div>
      </nav>
    </header>
    
    <br />
    
    <form method="post" action="?c=user&t=admin">
      <button style="margin-left:20px" type="submit" class="btn btn-outline-light">Retour</button>
    </form>
      
    <div class="container col-lg-offset-3 col-lg-6">
    
      <form class="well" action="?c=user&t=createdbyadmin" method="post">
        
        <div class="form-group">
            <label for="username"><font color="white">Nom d'utilisateur :</font></label>
            <input class="form-control" type="text" id="username" name="username" required>
        </div>

        <div class="form-group">
          <label for="email"><font color="white">E-mail :</font></label>
          <input class="form-control" type="email" id="email" name="email" required>
        </div>

        <div class="form-group">
          <label for="password1"><font color="white">Mot de passe :</font></label>
            <input class="form-control" type="password" id="password1" name="password1" required>
        </div>
        
        <br />
        
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="question"><font color="black"> Question secrète :</font></label>
          </div>
          <select class ="custom-select" id="question" name="question" required>
              <option value=""> Selectionnez une question secrète</option>
              <option value="1"> Quel était le nom de votre premier animal de compagnie ?</option>
              <option value="2"> Quel est le prénom de votre père</option>
              <option value="3"> Quel est le prénom de votre mère</option>
          </select> 
        </div>
        
        <div class="form-group">
          <label for="reponse"><font color="white">Réponse de la question secrète :</font></label>
          <input class="form-control" type="text" id="reponse" name="reponse" required>
        </div>

        <button type="submit" class="btn btn-danger">Création de l'utilisateur </button>
      </form>
    </div>
  </body>
</html>