<!DOCTYPE html>
<html>
  <head>
    <title>Projet BTS : Création de tache</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="views/css/Style.css" />
    <link rel="stylesheet" href="views/css/Bootstrap.css" />
    <script type="text/javascript" src="views/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <style type="text/css">
      body{
        color: white
      }
      td{
        color: white;
      }
    </style>

  </head>
  
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand">Projet BTS-SIO</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <form method="post" class="form-inline my-2 my-lg-0" action="?c=user&t=index">
              <button  class="btn btn-outline-light my-2 my-sm-0" type="submit">Accueil</button>
            </form>
            </li>
          </ul>
          <span class="badge badge-danger mr-sm-2"><h6>connecté en tant que : {{user.username}} </h6></span>
          <form method="post" class="form-inline my-2 my-lg-0" action="?c=user&t=deconnected">
            <button  class="btn btn-outline-danger my-2 my-sm-0" type="submit">déconnexion</button>
          </form>
        </div>
      </nav>
    </header>
    
    <br />
    
    <br />
    <div class="container col-lg-offset-2 col-9">
      
      <form class="well" action="{{ path }}?c=competence&t=created" method="post">

        <h3 align="center"><font color="white">Nouvelle competence</font></h3>

        <div class="form-group">
          <label for="titre"><font color="white">titre de la competence :</font></label>
          <p><input  class="form-control" name="titre" id="titre"  required ></p>
        </div>
        
        <div class="form-group">
          <label for="type"><font color="white">type :</font></label>
          <p><input  class="form-control" name="type" id="type" value="activité" required ></p>
        </div>

        <div class="form-group">
          <label for="activity"><font color="white">Code activité :</font></label>
          <p><input  class="form-control" name="activity" id="activity"></p>
        </div>

        <div class="form-group">
          <label for="epreuve"><font color="white">epreuve :</font></label>
          <p><input  class="form-control" name="epreuve" id="epreuve" Value="facultative" required></p>
        </div>

        <button type="submit" class="btn btn-outline-success"> Valider </button>
      </form>
    </div>
  </body>
</html>