<!DOCTYPE html>
<html>
  <head>
    <title>MVC Test - Index</title>
  </head>
    
  <body>
        <table border="2px">
      <tr>
        <td weight="400px"> Titre de la compétence </td>
        <td> Type </td> 
      </tr>

        {% for competence in competences %}
      <tr>
          <td class="Label">{{ competence.title }}</td>
          <td>{{ competence.type }}</td>
      </tr>
        {% endfor %}
    
    <hr />
    
    <p>Quantity: {{ quantity }} competences.</p>
    
  </body>
</html>