<!DOCTYPE html>
<html>
    <head>
        <title>MVC Test - Index</title>
        <style>
          body {
            background-color: black;
            color: yellow;
          }
          .tache {
            color: green;
          }
        </style>
    </head>
    <body>

      <a href="?c=tache&t=new" target="_self">Nouvelle tache</a>

      <h2>List tache: </h2>
      {% for tache in taches %}
        <li class="tache"> {{ tache.date|date("d/m/Y") }} </li>
        <li class="tache"> {{ tache.description }} </li>

        <ul>
          {% for competence in tache.competences %}
            <li>{{ competence.title }}</li>
          {% endfor %}
        </ul>
        <a href="?c=tache&t=edit&id={{ tache.id }}" target="_self"> Editer la tache</a>
        <br />
      {% endfor %}
      <hr />
      <p>Quantity: {{ quantity }} taches.</p>
    </body>
</html>