<!DOCTYPE html>
<html>
  <head>
    <title>Projet BTS : Liste des taches global</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="views/css/Style.css" />
    <link rel="stylesheet" href="views/css/Bootstrap.css" />
    <script type="text/javascript" src="views/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <style type="text/css">
      body{
        color: white
      }
      td{
        color: white;
      }
    </style>

  </head>
  
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand">Projet BTS-SIO</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <form method="post" class="form-inline my-2 my-lg-0" action="?c=user&t=index">
              <button  style="margin-right:15px;" class="btn btn-outline-light my-2 my-sm-0" type="submit">Accueil</button>
            </form>
            </li>
            <li class="nav-item active">
            <form method="post" class="form-inline my-2 my-lg-0" action="?c=competence&t=list">
              <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Tableau des compétences</button>
            </form>
            </li>
          </ul>
          <span class="badge badge-danger mr-sm-2"><h6>connecté en tant que : {{user.username}} </h6></span>
          <form method="post" class="form-inline my-2 my-lg-0" action="?c=user&t=deconnected">
            <button  class="btn btn-outline-danger my-2 my-sm-0" type="submit">déconnexion</button>
          </form>
        </div>
      </nav>
    </header>
      
    <form method="post" action="?c=tache&t=new">  
        <button type="submit" class="newtachebutton btn btn-danger"> Nouvelle taches</button>
    </form>
    
    <br />
    
    <p>Quantité: {{ quantity }} taches.</p>
    <table border="2px" class="table table-striped table-hover Listing well" style="width:90%">
      <caption class="TitreTableauListing">Liste des taches:</caption>
      <tr>
        <th class="EnteteListing"> Titre </th>
        <th class="EnteteListing"> Description </th>
        <th class="EnteteListing"> Compétence </th>
        <th class="EnteteListing"> Date </th>
        <th class="EnteteListing"> Utilisateur </th>
        <th class="EnteteListing"> Option </th> 
      </tr>
      
      {% for tache in taches %}
      
      <tr>
        <td class="LigneListing"> {{ tache.libelle }}</td>
        <td class="LigneListing"> {{ tache.description }}  </td>
        <td class="LigneListing">
          <ul>
            {% for competence in tache.competences %}
              <li>{{ competence.title }}</li>
            {% endfor %}
          </ul>
        </td>
        <td class="LigneListing"> {{ tache.date|date("d/m/Y") }} </td>
        <td class="LigneListing"> {{ tache.user.username }}</td>
        
        {% if tache.user.id == user.id or user.role == 3 %}
          <td class="LigneListing">
            <form method="post" action="?c=tache&t=edit&id={{tache.id}}">
              <button type="submit" class="btn btn-outline-danger">Editer</button>
            </form>
            
<!--             <form method="post" action="?c=tache&t=deleted&id={{tache.id}}"> -->
              <button type="submit" class="btn btn-danger" onclick="confirmed('http://195.154.118.169/julien/ProjetPCP/index.php?c=tache&t=deleted&id='+{{tache.id}})">Supprimer</button>
<!--             </form> -->
          </td>
        {% else %}
          <td class="LigneListing">
            <p class="warning"> Cette tache ne vous appartient pas.</p>
          </td>
        {% endif %}
      </tr>
      
      
      {% endfor %}
    </table>
  </body>

</html>