<!DOCTYPE html>
<html>
    <head>
        <title>MVC Test - Index</title>
        <style>
          body {
            background-color: black;
            color: yellow;
          }
          .tache {
            color: green;
          }
        </style>
    </head>
    <body>
      <h2>List tache: </h2>
      {% for tache in taches %}
        <li class="tache"> {{ tache.date|date("d/m/Y") }} </li>
        <li class="tache"> {{ tache.description }} </li>
      {% endfor %}
      <hr />
      <p>Quantity: {{ quantity }} taches.</p>
    </body>
</html>