<!DOCTYPE html>
<html>
  <head>
    <title>Tache liste</title>
    <link rel="stylesheet" href="views/css/Style.css" />
  </head>

  <body>
    <a href="?c=tache&t=new" target="_self">Nouvelle tache</a>

    <h2>Liste des taches: </h2>
    <h4>Quantité: {{ quantity }} taches.</h4>
    
    <br />
    
    <table border="2px">
      <tr>
        <td weight="400px"> Compétence </td>
        <td> Description </td>
        <td> Date </td>
        <td> Option </td> 
      </tr>
      
      {% for tache in taches %}
      
      <tr>
        <td>
          <ul>
            {% for competence in tache.competences %}
              <li>{{ competence.title }}</li>
            {% endfor %}
          </ul>
        </td>
        <td> {{ tache.description }}  </td>
        <td> {{ tache.date|date("d/m/Y") }} </td>
        
        <td>
            <p><a href="?c=tache&t=edit&id={{ tache.id }}" target="_self"> Editer la tache</a></p>
            <p><a href="?c=tache&t=remove&id={{ tache.id }}" target="_self"> Supprimer la tache</a></p>
        </td>
      </tr>
      
      
      {% endfor %}
    </table>
  </body>
</html>