<!DOCTYPE html>
<html>
  <head>
    <title>Suppression de tache</title>
    <link rel="stylesheet" href="../Style.css" />
  </head>

  <body>
    <h2>Détail de la tache : </h2>
    <li class="tache"> {{ tache.date|date("d/m/Y") }} </li>
    <li class="tache"> {{ tache.description }} </li>

    <ul>
      {% for competence in tache.competences %}
        <li>{{ competence.title }}</li>
      {% endfor %}
    </ul>

    <br />
      
    <hr>  
      
    <form action="?c=tache&t=deleted&id={{ tache.id }}" method="post">
  
      <div>
        <input type="submit" value="Valider">
      </div>
    </form>
 
    <form action="?c=tache&t=list" method="post">
      <div>
        <input type="submit" value="Annulez">
      </div>
    </form>  
  </body>
</html>