body {
	background-color: #C5C2C1; 
/*   background-repeat: no-repeat; */
/*   background-size: 100%; */
/*   background-attachment: fixed; */
  color: yellow;
	/*Arrière plan de la page*/
}
.tache {
      color: green;
    }

.header1 {
    background-color: red;
    display: flex;
    height: 120px;
    min-width: 120px;
    align-items: center;
    color: #fff;
    text-shadow: #000 0 0 .2em;
}